<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true">
    <testsuites>
        <!-- <testsuite name="App">
            <directory>tests/App</directory>
        </testsuite> -->
        <testsuite name="System/Config">
            <directory>tests/System/Config</directory>
        </testsuite>
        <testsuite name="System/Core">
            <directory>tests/System/Core</directory>
        </testsuite>
        <testsuite name="System/Model">
            <directory>tests/System/Model</directory>
        </testsuite>
        <testsuite name="System/Route">
            <directory>tests/System/Route</directory>
        </testsuite>
        <testsuite name="System">
            <directory>tests/System</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src/System</directory>
        </include>
    </source>
</phpunit>